{% extends 'base.html.twig' %}

{% block title %}New Contractors{% endblock %}

{% block body %}
    <h1>Create new Contractors</h1>

    {{ include('contractors/_form.html.twig') }}

    <a href="{{ path('contractors_index') }}">back to list</a>
{% endblock %}
